<div class="container">
  <div class="container">
    <div class="page-header">
      <h1>Chatop Client</h1>
    </div>
    <p class="lead">Simple Chatop Client for Testing Purposes</p>
    <div id="chat-window" class="card card-block chat"></div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <form role="form" class="chat">
      <div class="form-group">
        <input id="msg-text" type="text" class="form-control" placeholder="type message and hit return" autofocus>
      </div>
    </form>
  </div>
</footer>
